div.registerDiv{
    margin: 10px 20px;
    text-align: center;
}
table.registerTable{
    color: #3C3C3C;
    font-size: 16px;
    table-layout: fixed;
    margin-top: 50px;
}
table.registerTable td{
    padding: 10px 30px;
}
table.registerTable input{
    border: 1px solid #DEDEDE;
    width: 213px;
    height: 36px;
    font-size: 14px;
}
table.registerTable button{
    width: 170px;
    height: 36px;
    border-radius: 2px;
    color: white;
    background-color: #C40000;
    border-width: 0px;
}
td.registerTip{
    font-weight: bold;
}
td.registerTableLeftTD{
    width: 300px;
    text-align: right;
}
td.registerTableRightTD{
    width: 300px;
    text-align: left;
}
td.registerButtonTD{
    text-align: center;
}