<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="{% static 'js/jquery/2.0.0/jquery.min.js' %}"></script>
	<link href="{% static 'css/bootstrap/3.3.6/bootstrap.min.css' %}" rel="stylesheet">
	<script src="{% static 'js/bootstrap/3.3.6/bootstrap.min.js' %}"></script>
	<title>{% block title %}基础模板{% endblock %}</title>
    {% block extra_css %}{% endblock %}
    {% block extra_js %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
</head>
<body>
{% block top %}
<section class="top">
	<nav class="top">
        <div class="top_middle">
            <a href="index.html">
            <span style="color:#C40000;margin:0px" class=" glyphicon glyphicon glyphicon-home redColor"></span>
            天猫首页
            </a>

            {% if request.user.is_authenticated %}
            <a href="/signIn/">Hi,{{ request.user.username }}</a>
            <a href="#nowhere">积分</a>
            <a href="#nowhere">消息</a>
            <a href="#nowhere">退出</a>
            {% else %}
            <span>喵，欢迎来天猫</span>
            <a href="{% url 'login' %}">请登录</a>
            <a href="{% url 'register' %}">免费注册</a>
            {% endif %}

        <span class="pull-right">
            <a href="#nowhere">我的订单</a>
            <a href="#nowhere">
            <span style="color:#C40000;margin:0px" class=" glyphicon glyphicon-shopping-cart redColor"></span>
            购物车<strong>0</strong>件</a>
        </span>
        </div>
	</nav>
    <div class="searchOutDiv">
        <a href="index.html">
        <img id="logo" src="{% static 'img/site/logo.gif' %}" class="logo">
    </a>
        <form  method="post" >
        <div class="searchDiv">
            <input name="keyword" type="text" placeholder="时尚男鞋  太阳镜 ">
            <button  type="button" class="searchButton">搜索</button>
            <div class="searchBelow"> 
                {% for category in all_category %}
                {% if forloop.counter <= 4 %}
                <span>
                <a href="{% url 'product:classification' category.id %}">{{ category.name }}</a>
                <span>|</span>
                </span>
                {% endif %}
                {% endfor %} 
            </div>
        </div>
    </form>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="body">
	
</section>
{% endblock %}
<section>
    <div class="modal " id="loginModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog loginDivInProductPageModalDiv">
            <div class="modal-content">
                    <div class="loginDivInProductPage">
                        <div class="loginErrorMessageDiv">
                            <div class="alert alert-danger" >
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                                <span class="errorMessage"></span>
                            </div>
                        </div>
                            
                        <div class="login_acount_text">账户登录</div>
                        <div class="loginInput " >
                            <span class="loginInputIcon ">
                                <span class=" glyphicon glyphicon-user"></span>
                            </span>
                            <input id="name" name="name" placeholder="手机/会员名/邮箱" type="text">           
                        </div>
                        
                        <div class="loginInput " >
                            <span class="loginInputIcon ">
                                <span class=" glyphicon glyphicon-lock"></span>
                            </span>
                            <input id="password" name="password"  type="password" placeholder="密码" type="text">         
                        </div>
                                    <span class="text-danger">不要输入真实的天猫账号密码</span><br><br>
                        <div>
                            <a href="#nowhere">忘记登录密码</a> 
                            <a href="#nowhere" class="pull-right">免费注册</a> 
                        </div>
                        <div style="margin-top:20px">
                            <button class="btn btn-block redButton loginSubmitButton" type="button">登录</button>
                        </div>
                    </div>  
          </div>
    </div>
</div>

<div class="modal" id="deleteConfirmModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog deleteConfirmModalDiv">
       <div class="modal-content">
          <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">确认删除？</h4>
          </div>
          <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
            <button class="btn btn-primary deleteConfirmButton" id="submit" type="button">确认</button>
          </div>
        </div>
      </div>
    </div>
</div>
</section>


{% block footer %}
<footer>
<div class="footer">
    <div id="footer_ensure" class="footer_ensure">
            <div class="horizontal_line"></div>
            <a href="#nowhere">
                <img src="/static/img/site/ensure.png">
            </a>
    </div>

    <div id="footer_desc" class="footer_desc">
            <div class="descColumn">
                <span class="descColumnTitle">购物指南</span>
                <a href="#nowhere" >免费注册</a>
                <a href="#nowhere" >开通支付宝</a>
                <a href="#nowhere" >支付宝充值</a>
            </div>
            <div class="descColumn">
                <span class="descColumnTitle">天猫保障</span>
                <a href="#nowhere" >发票保障</a>
                <a href="#nowhere" >售后规则</a>
                <a href="#nowhere" >缺货赔付</a>
            </div>
            <div class="descColumn">
                <span class="descColumnTitle">支付方式</span>
                <a href="#nowhere" >快捷支付</a>
                <a href="#nowhere" >信用卡</a>
                <a href="#nowhere" >蚂蚁花呗</a>
                <a href="#nowhere" >货到付款</a>
            </div>
            <div class="descColumn">
                <span class="descColumnTitle">商家服务</span>
                <a href="#nowhere" >商家入驻</a>
                <a href="#nowhere" >商家中心</a>
                <a href="#nowhere" >天猫智库</a>
                <a href="#nowhere" >天猫规则</a>
                <a href="#nowhere" >物流服务</a>
                <a href="#nowhere" >喵言喵语</a>
                <a href="#nowhere" >运营服务</a>
            </div>
            <div class="descColumn">
                <span class="descColumnTitle">手机天猫</span>
                <a href="#nowhere" ><img src="/static/img/site/ma.png"></a>
            </div>

    </div>

    <div style="clear:both"></div>



    <div id="copyright" class="copyright">
        <div class="coptyrightMiddle">
            <img id="cateye" class="cateye" src="/static/img/site/cateye.png">
            <div class="white_link" >
            <a href="#nowhere" >关于天猫</a>
            <a href="#nowhere" > 帮助中心</a>
            <a href="#nowhere" >开放平台</a>
            <a href="#nowhere" >  诚聘英才</a>
            <a href="#nowhere" >联系我们</a>
            <a href="#nowhere" >网站合作</a>
            <a href="#nowhere" >法律声明</a>
            <a href="#nowhere" >知识产权</a>
            <a href="#nowhere" >  廉正举报  </a>
        </div>
            <div class="white_link" >
            <a href="#nowhere" > 阿里巴巴集团</a><span class="slash">|</span>
            <a href="#nowhere" > 淘宝网</a><span class="slash">|</span>
            <a href="#nowhere" >天猫 </a><span class="slash">|</span>
            <a href="#nowhere" >  聚划算</a><span class="slash">|</span>
            <a href="#nowhere" >全球速卖通</a><span class="slash">|</span>
            <a href="#nowhere" >阿里巴巴国际交易市场</a><span class="slash">|</span>
            <a href="#nowhere" >1688</a><span class="slash">|</span>
            <a href="#nowhere" >阿里妈妈</a><span class="slash">|</span>
            <a href="#nowhere" >  阿里旅行·去啊   </a><span class="slash">|</span>
            <a href="#nowhere" >  阿里云计算 </a><span class="slash">|</span>
            <a href="#nowhere" >  阿里通信  </a><span class="slash">|</span>
            <a href="#nowhere" >  YunOS </a><span class="slash">|</span>
            <a href="#nowhere" >  阿里旅行·去啊   </a><span class="slash">|</span>
            <a href="#nowhere" >   万网   </a><span class="slash">|</span>
            <a href="#nowhere" >  高德    </a><span class="slash">|</span>
            <a href="#nowhere" > 优视     </a><span class="slash">|</span>
            <a href="#nowhere" >  友盟    </a><span class="slash">|</span>
            <a href="#nowhere" >  虾米    </a><span class="slash">|</span>
            <a href="#nowhere" >  天天动听  </a><span class="slash">|</span>
            <a href="#nowhere" >  来往    </a><span class="slash">|</span>
            <a href="#nowhere" >  钉钉    </a><span class="slash">|</span>
            <a href="#nowhere" >  支付宝       </a>
        </div>
            <div class="license">
            <span>增值电信业务经营许可证： 浙B2-20110446</span>
            <span>网络文化经营许可证：浙网文[2015]0295-065号</span>
            <span>互联网医疗保健信息服务 审核同意书 浙卫网审【2014】6号 </span>
            <span>互联网药品信息服务资质证书编号：浙-（经营性）-2012-0005</span>
            <div class="copyRightYear">© 2003-2016 TMALL.COM 版权所有</div>
            <div>
                <img src="/static/img/site/copyRight1.jpg">
                <img src="/static/img/site/copyRight2.jpg">
            </div>
        </div>
        </div>

    </div>
</div>
</footer>
{% endblock %}

</body>
</html>