{% extends 'base.html' %}
{% block title %}模仿天猫网站by维民{% endblock %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block searchBelow %}
    <div class="searchOutDiv">
        <a href="index.html">
        <img id="logo" src="{% static 'img/site/logo.gif' %}" class="logo">
    </a>
        <form method="post" class="searchForm">
        <div class="searchDiv">
            <input name="keyword" type="text" placeholder="时尚男鞋  太阳镜 ">
            <button  type="button" class="searchButton">搜索</button>
            <div class="searchBelow">
                {% for category in all_category %}
                {% if forloop.counter <= 4 %}
                <span>
                <a href="{% url 'product:classification' category.id %}">{{ category.name }}</a>
                <span>|</span>
                </span>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        </form>
    </div>
{% endblock %}


{% block content %}
<section class="body">
<div class="homepageDiv">
<img src="{% static 'img/site/catear.png' %}" id="catear" class="catear"/>

<div class="categoryWithCarousel">

<div class="headbar show1">
	<div class="head ">

		<span style="margin-left:10px" class="glyphicon glyphicon-th-list"></span>
		<span style="margin-left:10px" >商品分类</span>

	</div>

	<div class="rightMenu">
		<span><a href="#nowhere"><img src="{% static 'img/site/chaoshi.png' %}"/></a></span>
		<span><a href="#nowhere"><img src="{% static 'img/site/guoji.png' %}"/></a></span>
        {% for category in all_category %}
            {% if forloop.counter <= 4 %}
                <span>
				<a href="{% url 'product:classification' category.id %}">
					{{ category.name }}
				</a></span>
            {% endif %}
        {% endfor %}
	</div>

</div>

<div style="position: relative">
    <div class="categoryMenu">
    {% for category in all_category %}
        <div cid="{{ category.id }}" class="eachCategory">
				<span class="glyphicon glyphicon-link"></span>
				<a href="{% url 'product:classification' category.id %}">
					{{ category.name }}
				</a>
        </div>
    {% endfor %}
	</div>
</div>

<div style="position: relative;left: 0;top: 0;">

<script>
$(function(){
	$("div.productsAsideCategorys div.row a").each(function(){
		var v = Math.round(Math.random() *6);
		if(v == 1)
			$(this).css("color","#87CEFA");
	});
});

</script>
    {% for category in all_category %}
        <div cid="{{ category.id }}" class="productsAsideCategorys">
            {% for products in category.get_product_by_row %}
                <div class="row show1">
                    {% for product in category.get_products %}
                    <a href="#nowhere">
                        {{ product.get_subtitle }}
                    </a>
                    {% endfor %}
                    <div class="seperator"></div>
                </div>
            {% endfor %}
	    </div>
    {% endfor %}
</div>

<div id="carousel-of-product"  class="carousel-of-product carousel slide1" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-of-product" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-of-product" data-slide-to="1"></li>
    <li data-target="#carousel-of-product" data-slide-to="2"></li>
    <li data-target="#carousel-of-product" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="carousel carouselImage" src="{% static 'img/lunbo/1.jpg' %}" >
    </div>
    <div class="item">
      <img  class="carouselImage" src="{% static 'img/lunbo/2.jpg' %}" >
    </div>
    <div class="item">
		<img  class="carouselImage" src="{% static 'img/lunbo/3.jpg' %}" >
    </div>

    <div class="item">
        <img  class="carouselImage" src="{% static 'img/lunbo/4.jpg' %}" >
    </div>

  </div>

  <!-- Controls -->
<!--   <a class="left carousel-control" href="#carousel-of-product" role="button" data-slide="prev"> -->
<!--     <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> -->

<!--   </a> -->
<!--   <a class="right carousel-control" href="#carousel-of-product" role="button" data-slide="next"> -->
<!--     <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> -->

<!--   </a> -->

</div>

<div class="carouselBackgroundDiv">
</div>

</div>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<div class="homepageCategoryProducts">
    {% for category in all_category %}
        <div class="eachHomepageCategoryProducts">
				<div class="left-mark"></div>
				<span class="categoryTitle">{{ category.name }}</span>
				<div style="clear:both"></div>
                {% for product in all_product %}
                    {% if product.category == category %}
                        <div class="productItem" >
							<a href="{% url 'product:item' product.id %}"><img width="100px" data-url="{{ MEDIA_URL }}{{ product.get_title_image.image }}" src="{{ MEDIA_URL }}{{ product.get_title_image.image }}"></a>
							<a class="productItemDescLink" href="{% url 'product:item' product.id %}">
								<span class="productItemDesc">[热销]
								{{ product.name|slice:"20" }}
								</span>
						    </a>
							<span class="productPrice">
								{{ product.promoteprice }}
							</span>
						</div>
                    {% endif %}
                {% endfor %}
				<div style="clear:both"></div>
			</div>
    {% endfor %}

	<img id="endpng" class="endpng" src="{% static 'img/site/end.png' %}">

</div>
</div>

</section>


{% endblock %}

