<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="{% static 'js/jquery/2.0.0/jquery.min.js' %}"></script>
    <link href="{% static 'css/bootstrap/3.3.6/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap/3.3.6/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
    <title>仿天猫注册页面</title>
</head>
<body>
    <form id="email_register_form" method="post" action="{% url 'register' %}" autocomplete="off">
        <div class="login_acount_text">注册邮箱</div>
        <div class="loginInput " >
            <span class="loginInputIcon ">
                <span class=" glyphicon glyphicon-user"></span>
            </span>
            <input id="username" name="email" placeholder="手机/会员名/邮箱" type="text">
        </div>
        <div class="login_acount_text">登陆密码</div>
        <div class="loginInput " >
            <span class="loginInputIcon ">
                <span class=" glyphicon glyphicon-lock"></span>
            </span>
            <input id="password" name="password" type="password" placeholder="设置你的登陆密码" type="text">
        </div>
        <div class="login_acount_text">确认密码</div>
        <div class="loginInput " >
            <span class="loginInputIcon ">
                <span class=" glyphicon glyphicon-lock"></span>
            </span>
            <input id="password" name="password" type="password" placeholder="请再次输入你的密码" type="text">
        </div>
        <div class="login_acount_text">验证码</div>
        <div class="loginInput " >
            {{ register_form.captcha }}
        </div>
        <div class="loginInput " >
            <input class="btn btn-green" id="jsEmailRegBtn" type="submit" value="注册并登录" />
        </div>
        {% csrf_token %}
</form>
</body>
</html>