{% extends 'index.html' %}
{% block title %}
重置密码by维民
{% endblock %}
{% block content %}
<div class="registerDiv">
    <form id="password_reset_form" method="post" action="{% url 'modify_pwd' %}" autocomplete="off">
    <table align="center" class="registerTable">
        <tbody>
        <tr>
            <td class="registerTip registerTableLeftTD">修改密码</td>
            <td></td>
        </tr>
        <tr>
            <td class="registerTableLeftTD">新密码</td>
            <td class="registerTableRightTD"><input type="password1" placeholder="设置你的登陆密码" name="password1" id="password1" value="{{ register_form.email.value }}"> </td>
        </tr>
        <input type="hidden" name="email" value="{{ email }}">
        <tr>
            <td class="registerTableLeftTD">确认密码</td>
            <td class="registerTableRightTD"><input type="password2" placeholder="请再次输入你的密码" name="password2" id="password2" value="{{ register_form.email.value }}"> </td>
        </tr>
        <tr>
            <td class="registerButtonTD" colspan="2">
                <a href="#nowhere" onclick="checkUser()"><button>提   交</button></a>
            </td>
        </tr>
        </tbody>
    </table>
        {% csrf_token %}
    </form>
</div>
{% endblock %}

